extends ../partials/head
block content
  .all-wrapper
    .all-header
      h1.general-text-title Supported Chain List for the Bot
      input.general-form-input#chains-search-input(type='text' placeholder='Search Chain' value=chains_search style='margin-left: auto; margin-right: 20px;')
      a.general-form-button(href='/create') Add New Chain
    .all-content
      each chain in chains
        .each-chain-wrapper
          h2.general-text-subtitle= chain.identifier
          span.general-text-text(style='margin-left: 5px') (~#{chain.latest_block_height})
          a.general-form-button(href='/update?identifier=' + chain.identifier style='margin-left: auto;') Edit
          if !chain.latest_update_status
            a.general-form-button(href='/status?identifier=' + chain.identifier style='margin-left: 20px') Set as Updated
          else
            .general-form-button-not-allowed(style='margin-left: 20px') Already Updated