extends ../partials/head
block content
  .all-wrapper
    form.form-wrapper(method='POST' action='/login')
      h1.general-text-title Bot Dashboard    
      input.general-form-input(type='password' name='password' placeholder='Password' required autofocus)
      button.general-form-button Login